@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.header-content {
  background: #f9f8f7;
  display: flex;
  justify-content: center;
  padding: 48px;
}
.target {
  color: #8d8f90;
}
.text {
  display: flex;
  gap: 93px;
  padding-top: 3px;
  color: #212628;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.header-text img {
  width: 215px;
  height: 20px;
}
.header-text {
  display: flex;
  flex-direction: column;
}
main {
  background: #f9f8f7;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  width: 552px;
  height: 840px;
  padding: 41px 64px 10px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.form-header {
  display: flex;
  justify-content: space-between;
}
.premium {
  color: var(--Header-text, #212628);
  font-size: 25px;
  font-weight: 700;
  line-height: 48px;
}
.month199 {
  color: var(--Header-text, #212628);
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.month {
  color: var(--Header-text, #212628);
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.text-inst {
  color: #7a7d7e;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}
.form {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
}
.input {
  width: 424px;
  height: 54px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  margin-bottom: 27px;
  padding-left: 24px;
  outline: none;
  color: #212628;
  font-size: 18px;
  opacity: 0.5;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.card-number {
  color: #212628;
  font-size: 18px;
  opacity: 0.5;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  width: 424px;
  height: 54px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  margin-bottom: 27px;
  padding-left: 24px;
  outline: none;
  position: relative;
}
.card {
  position: absolute;
  bottom: 373px;
  right: 733px;
}
.submit-btn {
  width: 370px;
  height: 64px;
  border-radius: 32px;
  background: linear-gradient(
    270deg,
    #c23584 0%,
    #e2306c 24.48%,
    #f77736 83.85%,
    #fa963e 100%
  );
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.027px;
  cursor: pointer;
  margin: auto;
}
.submit-btn span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.027px;
  text-decoration: line-through;
}
.date {
  width: 282px;
  height: 54px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  margin-bottom: 27px;
  padding-left: 24px;
  outline: none;
  display: flex;
  color: #212628;
  font-size: 18px;
  opacity: 0.5;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.ccv {
  width: 120px;
  height: 54px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  margin-bottom: 27px;
  padding-left: 24px;
  outline: none;
  color: #212628;
  font-size: 18px;
  opacity: 0.5;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.date-ccv {
  display: flex;
  gap: 22px;
}
.Country {
  width: 282px;
  height: 54px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  margin-bottom: 27px;
  outline: none;
  display: flex;
  padding-left: 25px;
}
.Terms {
  color: rgba(225, 48, 108, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
  margin-left: 5px;
  margin-right: 5px;
}
.Terms a {
  color: rgba(225, 48, 108, 0.8);
}
p {
  color: rgba(33, 38, 40, 0.5);
  margin: 28px 0px 29px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 5px;
}
.coupon {
  color: #e1306c;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
